<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script defer src="../script.js"></script>
</head>
<body>
    <h1>About</h1>
    <p>lorum ipsum</p>

    <!-- Navigation links -->
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
</body>
</html>
