<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../script.js"></script>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>

    <h1>{{title}}</h1>
    <p>{{message}}</p>

    <!-- Display the local image -->
    <img src="../pic/negative-man-pic.png" alt="My Image" style="max-width: 100%; height: auto;">

    <!-- Download button -->
    <a href="/download">
        <button>Download Image</button>
    </a>

    <h1>Submit Character</h1>
    <input type="text" id="charInput" placeholder="Enter your character">
    <button id="charSubmit">submit character</button>
</body>
</html>